@model NimapInfotechTask.Models.Category

@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-md-4">
        <div>
            <h4>Add Category Here!!</h4>
        </div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group"> *@
            @*     <label asp-for="Category_id" class="control-label"></label> *@
            @*     <input asp-for="Category_id" class="form-control" /> *@
            @*     <span asp-validation-for="Category_id" class="text-danger"></span> *@
            @* </div> *@
            <div class="form-group">
                <label asp-for="Category_Name" class="control-label mb-3"></label>
                <input asp-for="Category_Name" class="form-control mb-3" />
                <span asp-validation-for="Category_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Saves" class="btn btn-primary mt-3" />
                <a asp-action="Index" class="btn btn-primary mt-3">Back</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
