@model NimapInfotechTask.Models.Category

@{
    ViewData["Title"] = "Edit";
}


<div class="row">
    <div class="col-md-4">
        <h3>Update Category Here!!</h3>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Category_id" class="control-label mb-3"></label>
                <input asp-for="Category_id" class="form-control mb-3" readonly />
                <span asp-validation-for="Category_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category_Name" class="control-label mb-3"></label>
                <input asp-for="Category_Name" class="form-control mb-3" />
                <span asp-validation-for="Category_Name" class="text-danger"></span>
            </div>
            <input type="submit" value="Update" class="btn btn-primary mb-3 mt-3" />
            <a asp-action="Index" class="btn btn-primary mb-3 mt-3">Cancel</a>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
